# dependencies
/.venv/
/.venv
.venv/
.venv/bin/
.venv/lib/python3.8/site-packages/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# cache
.eslintcache
__pycache__